# Виртуальное окружение
env/
venv/
ENV/
*.pyc
__pycache__/

# Локальная база данных SQLite
*.sqlite3

# Загружаемые медиафайлы (фото сотрудников)
media/
/media/

# Настройки редакторов кода и IDE
.vscode/
.idea/
